* {
  font-family: "Montserrat", "Arial", sans-serif;
  transition: 0.3s all;
  scroll-behavior: smooth;
}

h1,
h2 {
  font-weight: 700;
}

p {
  font-weight: 400;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.home-bg {
  background: url(../assets/img/bg-images.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.righteous__img {
  margin: 0 auto;
  padding-top: 235px;
}

.legal__text {
  width: 800px;
  margin: 0 auto;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  text-align: center;
  color: #0e243b;
}

@media (max-width: 1000px) {
  .home-bg {
    height: 500px;
  }

  .righteous__img {
    height: 300px;
    margin: 0 auto;
    padding: 0;
    padding-top: 100px;
  }
}

@media (max-width: 500px) {
  .home-bg {
    height: 300px;
  }

  .righteous__img {
    height: 200px;
    margin: 0 auto;
    padding: 0;
    padding-top: 50px;
  }
}
