* {
  font-family: "Montserrat", "Arial", sans-serif;
  transition: 0.3s all;
  scroll-behavior: smooth;
}

h1,
h2 {
  font-weight: 700;
}

p {
  font-weight: 400;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.home-bg {
  background-image: url("../assets/img/bg-full.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 1000px) {
  .home-bg {
    height: 500px;
  }
}

@media (max-width: 500px) {
  .home-bg {
    height: 300px;
  }
}
