@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
    transition: .3s all;
}

h1 {
    font-weight: 700;
}

p {
    font-weight: 400;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.home-bg {
    background: url(../assets/img/bg-full.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 1000px) {
    .home-bg {
        height: 500px;
    }
}

@media (max-width: 500px) {
    .home-bg {
        height: 300px;
    }
}